@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

/* Pre Configs */
	*, *:before, *:after {
		margin: 0;
		padding: 0;
	  	-moz-box-sizing: border-box;
	  	-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.clearfix:before,
	.clearfix:after {
	  	content: " ";
	  	display: table;
	}
 
	.clearfix:after {
	  	clear: both;
	}
	 
	.clearfix {
	  	*zoom: 1;
	}

	body {
		font-family: 'Open Sans', sans-serif;
		background-color: #eee;
	}

	p {
		font-size: 15px;
		line-height: 22px;
		font-weight: 300;
		color: #555;
	}

	a {
		text-decoration: none;
		color: #111;
	}

		a:hover {
			color: 	#4DB8FF;
		}

	h1 {
		color: #111;
		font-weight: 400;
		margin: 0 !important;
		margin-bottom: 10px !important;
	}

/* Site */
	/* Navigation */
	#nav {
		width: 100%;
		padding: 15px 30px;
		background: #fff; 
		z-index: 99999999999;
		-webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.2);
		-moz-box-shadow:    0px 1px 1px 0px rgba(50, 50, 50, 0.2);
		box-shadow:         0px 1px 1px 0px rgba(50, 50, 50, 0.2);
	}

		#nav .logo {
			float: left;
		}

		#nav nav {
			float: right;
		}

			#nav nav ul {
				list-style: none;
			}

			#nav nav ul li {
				float: left;
			}

			#nav nav ul li a {
				padding: 10px 15px;
				text-decoration: none;
				text-transform: uppercase;
				display: block;
				font-size: 14px;
				font-weight: 700;
				color: #494949;
				border: 0; 
			}

				#nav nav ul li a:hover {
					color: 	#4DB8FF;
				}

	/* Intro */
	.intro {
		width: 100%;
		height: 250px;
		background: url(../img/ ) fixed center #000;
		background-size: cover;
	}

		.intro .center {
			width: 100%;
			position: absolute;
			text-align: center;
			top: 63px;
		}

		.intro .center img {
			width: 150px;
			height: 150px;
			border-radius: 75px;
			margin: 0 auto;
			display: block; 
		}

		.intro .center ul.social {
			list-style: none;
			display: block;
			margin: 30px auto;
			width: 200px;
		}

			.intro .center ul.social li:first-child {
				margin-left: 5px;
			}

			.intro .center ul.social li {
				float: left;
				margin-left: 5px; 
				width: 33px;
			}

			.intro .center ul.social li a {
				display: block;
				text-align: center;
				color: #eee;
				line-height: 20px;
			}

				.intro .center ul.social li a:hover {
					color: 	#4DB8FF
				}


	/* Container */
	.container {
		width: 100%;
		min-width: 850px;
		background-color: #eee;
		padding-top: 50px;
		padding-bottom: 0;
	}

	/* Posts */
	.posts {
		width: 100%;
		margin: 50px auto; 
	}

		.mypost {
			width: inherit;
			padding: 50px 20px;
			background-color: #fff;
			border-bottom: 1px solid #ddd;
			cursor: pointer;
			-webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
		    -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
		    -o-transition: all 0.3s ease-out;  /* Opera 10.50–12.00 */
		    transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
		}

			.mypost:hover {
				background-color: 	#4DB8FF;
			}

			.mypost:hover h1, .mypost:hover p, .mypost:hover a {
				color: #fff;
			}

			.mypost:hover a:hover {
				color: #fff;
				display: block;
			}

			.mypost:hover a:hover:after {
				content: " >>";
				font-family: "Open Sans";
				color: #fff;
				font-size: 15px;
			}



		.mypost .date {
			position: absolute;
			margin-top: -30px;
			background: 	#4DB8FF;
			padding: 11px;
			border-radius: 60px;
			-webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
		    -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
		    -o-transition: all 0.3s ease-out;  /* Opera 10.50–12.00 */
		    transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
		}

			.mypost:hover .date {
				background-color: #fff;
			}

			.mypost:hover .date p {
				color: #111;
			}

		.mypost .date p {
			font-size: 10px;
			text-align: center;
			color: #fff;
		}

		.mypost .date .date-top {
			width: 100%;
		}

			.mypost .date p.date-top {
				font-size: 18px;
			}

		.mypost .date .date-bottom {
			width: 100%;
		}

		.mypost .readmore {
			display: block;
			margin-top: 15px;
		}

		.mypost .postcontent {
			margin-left: 85px; 
		}


	/* Posts Double */
	.posts-double {
		width: 1100px;
		margin: 50px auto;
	}

		.mypost-double {
			width: 540px;
			margin-right: 10px;
			margin-bottom: 15px;
			float: left;
			padding: 50px 20px;
			background-color: #fff;
			border-bottom: 1px solid #ddd;
			cursor: pointer;
			-webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
		    -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
		    -o-transition: all 0.3s ease-out;  /* Opera 10.50–12.00 */
		    transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
		    -webkit-box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.2);
			-moz-box-shadow:    1px 1px 1px 0px rgba(50, 50, 50, 0.2);
			box-shadow:         1px 1px 1px 0px rgba(50, 50, 50, 0.2);
		}

			.mypost-double:hover {
				background-color: 	#4DB8FF;
			}

			.mypost-double:hover h1, .mypost-double:hover p, .mypost-double:hover a {
				color: #fff;
			}

			.mypost-double:hover a:hover {
				color: #fff;
				display: block;
			}

			.mypost-double:hover a:hover:after {
				content: " >>";
				font-family: "Open Sans";
				color: #fff;
				font-size: 15px;
			}



		.mypost-double .date {
			position: absolute;
			margin-top: -30px;
			background: 	#4DB8FF;
			padding: 11px;
			border-radius: 60px;
			-webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
		    -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
		    -o-transition: all 0.3s ease-out;  /* Opera 10.50–12.00 */
		    transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
		}

			.mypost-double:hover .date {
				background-color: #fff;
			}

			.mypost-double:hover .date p {
				color: #111;
			}

		.mypost-double .date p {
			font-size: 10px;
			text-align: center;
			color: #fff;
		}

		.mypost-double .date .date-top {
			width: 100%;
		}

			.mypost-double .date p.date-top {
				font-size: 18px;
			}

		.mypost-double .date .date-bottom {
			width: 100%;
		}

		.mypost-double .readmore {
			display: block;
			margin-top: 15px;
		}

		.mypost-double .postcontent {
			margin-left: 85px; 
		}



	/* Page */
	.page {
		width: 800px;
		margin: 50px auto;
		margin-top: 0;
		padding: 30px 50px;
		background-color: #fff;
		-webkit-box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.2);
		-moz-box-shadow:    1px 1px 1px 0px rgba(50, 50, 50, 0.2);
		box-shadow:         1px 1px 1px 0px rgba(50, 50, 50, 0.2);
	}

		.page img {
			max-width: 700px;
		}

		.page p {
			margin: 10px 0;
		}

	/* Pagination */
	.pagination {
		width: 100%;
		padding: 10px 0; 
		margin-top: 50px;
		background-color: 	#4DB8FF;
	}

		.innerpagi {
			width: 800px;
			margin: 0 auto;
		}

		.innerpagi .previous {
			float: left;
			display: block;
			background-color: #26bab5;
			padding: 7px 14px;
			border-radius: 5px;
			color: #fff;
		}

			.innerpagi .previous.off {
				visibility: hidden;
			}

		.innerpagi .next {
			float: right;
			display: block;
			background-color: #26bab5;
			padding: 7px 14px;
			border-radius: 5px;
			color: #fff;
		}

			.innerpagi .next.off {
				visibility: hidden;
			}

	/* Contact Page */
	form {
		width: 400px;
		float: left;
	}

	form label {
		color: #757575;
		float: left;
		width: 400px;
		font-size: 13px;
		margin: 5px 0;
	}

	form .input {
		padding: 10px;
		width: 400px;
		border: 1px solid #ddd;
		font-size: 13px;
		float: left;
		margin: 5px 0;
	}

	form .textarea {
		padding: 10px;
		width: 400px;
		height: 100px;
		border: 1px solid #ddd;
		font-size: 13px;
		float: left;
		margin: 5px 0;	
	}

	form button {
		padding: 10px 20px;
		background: transparent;
		border: 1px solid #ddd;
		color: #757575;
		margin: 10px 0;
	}

	.contactinfo {
		float: right;
		width: 250px;
		margin-top: 30px;
	}

	.contactinfo p {
		margin-bottom: 5px;
		display: block;
	}


	/* footer */
	footer {
		width: 100%;
		margin-top: 100px;
		margin-bottom: 50px;
	}

	footer p {
		text-align: center;
		color: #111;
	}

	footer ul.social {
		list-style: none;
		display: block;
		margin: 15px auto;
		width: 176px;
	}

		footer ul.social li {
			float: left;
			margin-left: 5px; 
		}

		footer ul.social li a {
			border: 0;
			display: inline-block;
   			padding: 2px 2px; 
			text-decoration: none;
		}

		footer ul.social li:first-child {
			margin-auto;
		}

		footer p {
			font-size: 13px;
		}

		footer i.fa {
			color: #bbb;
		}


/* Animations */
@-webkit-keyframes flip {
  0% {
    -webkit-transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
    transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  40% {
    -webkit-transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
    transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  50% {
    -webkit-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  80% {
    -webkit-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(.95);
    transform: perspective(400px) translateZ(0) rotateY(360deg) scale(.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
    transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}

@keyframes flip {
  0% {
    -webkit-transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
    -ms-transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
    transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  40% {
    -webkit-transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
    -ms-transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
    transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  50% {
    -webkit-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    -ms-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  80% {
    -webkit-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(.95);
    -ms-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(.95);
    transform: perspective(400px) translateZ(0) rotateY(360deg) scale(.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
    -ms-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
    transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}
