<!DOCTYPE html>
<html>	
	<head>

		<meta name="description" content="{{ site.description }}">

		<title>{{ site.name }}</title>

		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link rel="stylesheet" type="text/css" href="/css/normalize.css">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
	
		<link rel="icon" type="image/png" href="/img/ten.png">

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="/js/jquery.sticky.js"></script>

		<script>
  			$(document).ready(function(){
    			$("#nav").sticky({topSpacing:0});
  			});
		</script>

		<!-- If the browser version of IE is less than 9 load HTML5 & CSS3 polyfills -->
        <!--[if lt IE 9]>
            <link rel="stylesheet" href="css/ie.css">
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
        <![endif]-->

	</head>
	<body>

		<div class="intro">
			
			<div class="center">
				<img src="/img/me.jpg">

				<ul class="social">
					<li><a href="http://www.twitter.com/TNLeger"><i class="fa fa-twitter"></i></a></li>
					<li><a 
				</ul>

			</div>

		</div>

		<div id="nav" class="clearfix">
			
			<div class="logo">
				
				<h1>{{ site.name }}</h1>

			</div>

			<nav>
				
				<ul class="clearfix">

					<li><a href="/index.html">Home</a></li>
					<li><a href="/double/">Posts</a></li>
					<li><a href="/about/">About Us</a></li>
					<li><a href="/contact/">Contact Us</a></li>
				
				</ul>

			</nav>

		</div>

		<div class="container">
			

