{% include header.html %}

<div class="page clearfix">

	<form action="#" class="clearfix" method="post">
		
		<label>Name</label>
		<input type="text" name="name" class="input" placeholder="Your name here" />
		
		<label>E-Mail</label>
		<input type="email" name="name" class="input" placeholder="Your email here" />
		
		<label>Subject</label>
		<input type="text" name="name" class="input" placeholder="Your subject here" />

		<label>Message</label>
		<textarea class="textarea" placeholder="Your Message Here.."></textarea>

		<button>Send</button>

	</form>

	
</div>

{% include footer.html %}
